.container {
  display: flex;
  cursor: pointer;
}

.container a {
  display: flex;
  flex-direction: column;
}

.container .picture {
  flex: 1;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

}

.container .picture img {
  height: auto;
  max-width: 100%;
}

.container .info {
  padding: 10px 0;
  width: 100%;
}
